##
## This file is maintained by Ansible - ALL MODIFICATIONS WILL BE REVERTED
##

# CgroupMountpoint=/sys/fs/cgroup
CgroupAutomount=yes
CgroupReleaseAgentDir="{{ slurm_config_dir }}/cgroup"

ConstrainCores=yes
ConstrainDevices=yes
ConstrainRAMSpace=yes