##
## This file is maintained by Ansible - ALL MODIFICATIONS WILL BE REVERTED
##
##################################################################
# Slurm's Generic Resource (GRES) configuration file
##################################################################
AutoDetect=nvml
# Name=gpu
# Type=rtx'
# File=/dev/nvidia[0:7]